body{
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}

h1 {
  text-align: center;
  font-family: lexend, sans-serif;
}

img{
  width: 100%;
  box-sizing: border-box;
  border: 1px solid black;
}

h3 {
  color: forestgreen;
}

section{
display: flex;
}

div {
  text-align: center;
  margin:auto;
  margin-top: 5%;
  padding: 1%;
  width: 30%;
  margin: 2.5%, auto;
  background-color: lightgrey;
}

.projects{
  text-align: justify;
}

h2, h4{
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(31, 144, 182);
  padding: 1%;
}

nav a{
  font-family: lexend, sans-serif;
  text-decoration: none;
  color: whitesmoke
}

#rickroll{
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-bottom: 5%;
  align-items: center;
}
