@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

/* * {
  border: 1px solid ghostwhite;
} */

/*******************************************
GENERAL
********************************************/
body {
  background: rgb(111,107,134);
  background: linear-gradient(90deg, rgba(111,107,134,1) 0%, rgba(66,66,92,1) 100%);
  font-family: 'PT Sans', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

h1 {
  text-align: center;
  color: #D4BDFF;
}

.container {
  background-color: #2C2A3Aaa;
  display: flex;
  justify-content: space-around;
  flex: 1;
  margin: auto 2em;
}

footer > ul {
  display: flex;
  justify-content: space-between;
}

ul {
  width:90%;
  margin: 1em auto;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: ghostwhite;
}

a:hover {
  color: rebeccapurple;
}

/*******************************************
MENU
********************************************/
.menu {
  flex-basis: 20%;
  display: flex;
  align-items: center;
}

.menu span  {
  font-weight: bold;
  color: ghostwhite;
}

.menu li {
  color: silver;
  line-height: 2;
}

.menu li:hover {
  opacity: .7;
}

/*******************************************
DASHBOARD
********************************************/

.dashboard {
  flex-basis: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.reviews, .average-rating, .sentiment-analysis {
  flex-basis: 30%;
  background-color: #110723;
  margin-bottom: 1em;
  margin-top: 2em;
}

.dashboard h2  {
  color: silver;
  font-weight: normal;
  font-size: 1em;
  margin-left: .5em;
}

.dashboard p {
  color: ghostwhite;
  font-size: 2em;
  margin-left: .5em;
}

.sentiment-analysis li {
  color: ghostwhite;
  font-size: 1em;
  line-height: 2;
  text-align: center;
}

.sentiment-analysis ul {
  margin-top: 2em;
}

.website-visitors  {
  background-color: #110723;
}

.website-visitors img {
  display: block;
  width: 70vw;
  height: 30vh;
  margin: auto;
  padding: 0.5em;
  box-sizing: border-box;
}

.website-visitors .graph {
  background-color: #221834;
  width: 70vw;
  height: 30vh;
  margin: auto;
}
